* {
  margin: 0;
}
html{
  display: flex;
  justify-content: center;
  align-self: center;
}
body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-weight: 800;
  font-size: calc(0.75em + 8vmin);
}
.announcement{
  margin-top: 1%;
  font-weight: 700;
  font-size: calc(0.75em + 3vmin);
}
.subtitle{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}
img {
    height: 90%; 
    width: 90%; 
    object-fit: contain;
}
.gameContainer {
  align-self: center;
  justify-self: center;
  display: grid;
  width: 60vw;
  height: 60vw;
  max-width: 500px;
  max-height: 500px;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
.cell {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score{
  margin-top: 60px;
  width: 60%;
  max-width: 500px;
  display: flex;
  font-weight: 800;
  justify-content:space-between;
}
.player,
.scoredisplay{
  font-size:  calc(1em + 2vmin);
  font-weight: 100;
}
.player{
  font-weight: 400;
}